<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/cart.css">
    <!-- Import the "New Amsterdam" font using @import -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=New+Amsterdam&display=swap" rel="stylesheet">

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
    </style>
</head>

<body>
    <div class="header">
        <div>Plant Based Protien</div>
        <img src="/logos/yellow shine.png">
        <div>Milk Alternatives</div>
        <img src="/logos/yellow shine.png">
        <div>Plant Based Protien</div>
        <img src="/logos/yellow shine.png">
        <div>Milk Alternatives</div>
    </div>
    <div class="navbar">
        <img class="logo" src="/logos/Untitled design (1) (1).png" onclick="window.location.href='/';">
        <img class="homebutton" src="/logos/icons8-home-96.png" onclick="window.location.href='/';">
        <img class="loginbutton" src="/logos/icons8-name-96.png" onclick="window.location.href='/login';">
        <img class="shoppingbag" src="/logos/icons8-shopping-bag-50.png" onclick="window.location.href='/profile/cart';">
        
        <img class="wheel" src="/logos/icons8-ship-wheel-96.png"  onclick="window.location.href='/navbar';">
    </div>
    
    <div class="title">CART</div>
    <% let totalPrice = 0; %>
    
    <div class="cartproductscontainer">
        <% if (cart.length > 0) { %> 
            
            <% cart.forEach(function(product) { %>
                <div class="product">
                    <div class="image">
                        <img src="<%= product.image %>">
                    </div>
                    <div class="name">Name: <%= product.productname %></div>
                    <div class="price">Price: ₹ <%= product.price %></div>
    
                    <% totalPrice += product.price; %>
    
                    <form action="/profile/removecart" method="POST">
                        <input type="hidden" name="id" value="<%= product._id %>">
                        <button class="removecartbutton" type="submit">Remove from cart</button>
                    </form>
                </div>
            <% }); %>
    
           
        <% } else { %>
            <div class="emptycart">Your cart is empty!</div>
        <% } %>
    </div>
    

         
        
    </div>

        

    <div class="checkoutcontainer">
        <div class="ttitle">price breakdown</div>
        <% cart.forEach(function(product){ %>
            <div class="tproduct">
                <div class="name"> PRODUCT Name : <%= product.productname %> </div>
                <div class="price">Price : ₹ <%= product.price %> </div>
                <div>------------------------------------------------------</div>
            </div>

        <% }) %> 
        
        <div class="totalcontainer">
            <div>shipping fee : FREE</div>
            <div>total price : ₹  <%= totalPrice %></div>
        </div>
       

        <!-- <form class="checkoutform" action="/profile/checkout" method="POST">
            <input type="hidden" name="totalPrice" value="<%= totalPrice %>">
            <button class="checkoutbutton" type="submit">Checkout</button>
        </form> -->

        <% if(totalPrice > 0) { %>
            <!-- If product quantity is greater than 0, show the Add to Cart button -->
            <form class="checkoutform" action="/profile/checkout" method="POST">
                <input type="hidden" name="totalPrice" value="<%= totalPrice %>">
                <button class="checkoutbutton" type="submit">Checkout</button>
            </form>

        <% } else { %>
            <!-- If product quantity is 0, disable the button and show out of stock message -->
            <button class="checkoutbutton" type="button" disabled>cannot checkout</button>
        <% } %>
    </div>
   











   
</body>

</html>